{% extends "PublicationBundle:Default:base.html.twig" %}

{% block title %}Liste des chercheurs{% endblock %}
{% block header %}{% endblock %}

{% block body %}

{% if chercheur is defined %}
	<h1>{{ chercheur.id }} : {{ chercheur.nom }} travaille dans le laboratoire {{ chercheur.laboratoire.nom }} à l'organisation {{ chercheur.organisation.nom }}</h1>
{% else %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Photo</th>
			<th>Nom Prénom</th>
			<th>Organisation</th>
			<th>Laboratoire</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for chercheur in listeChercheur %}
		<tr>
			<td><img src="{{ asset('uploads/' ~ chercheur.picture) }}" alt="Photo" class="img img-rounded" width="100" height="100" /></td>
			<td>{{ chercheur.prenom }} {{ chercheur.nom }}</td>
			<td>{{ chercheur.organisation.nom }}</td>
			<td>{{ chercheur.laboratoire.nom }}</td>
			<td><a type="button" class="btn btn-success" href="{{ path("publication_chercheur_article_view", {id: chercheur.id}) }}">Voir articles</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock %}