<!DOCTYPE html>
<html>
	<head>
		<title>ICD | Chercheurs</title>
	</head>
	<body>
		<h1>Voici les beaux chercheurs</h1>
		<ul>
			{% for chercheur in listChercheur %}
				<li>{{ chercheur.id }} {{ chercheur.prenom }} {{ chercheur.nom | upper }} à {{ chercheur.organisation }} dans l'équipe {{ chercheur.equipe }} </li>
			{% else %}
				<li>Pas de chercheurs dans la base de données</li>
			{% endfor %}
		</ul>
	</body>
</html>