{% extends "PublicationBundle:Default:base.html.twig" %}

{% block title %}Ajout d'un laboratoire{% endblock %}
{% block header %}
{% endblock %}

{% block body %}
{{ form_start(form, {"attr": {"role": "form", "class": "col-sm-6"}}) }}

	<div class="form-group">
		{{ form_label(form.nom, "Nom : ") }}
		{{ form_widget(form.nom, {"attr": {"class": "form-control"}}) }}
		{{ form_errors(form.nom) }}
	</div>

	<div class="form-group">
		{{ form_label(form.organisation, "Nom : ") }}
		{{ form_widget(form.organisation, {"attr": {"class": "form-control"}}) }}
		{{ form_errors(form.organisation) }}
	</div>

	<div class="form-group">
		{{ form_widget(form.enregistrer, {"attr": {"class": "btn btn-default"}}) }}
	</div>

{{ form_end(form) }}



{% endblock %}